@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Inter&family=Montserrat&family=Oleo+Script&family=Poppins&display=swap');
@import "tailwindcss";




/* Typography */




@theme{
    --font-system-curved: 'Oleo Script';
    --font-dm-sans: 'DM Sans', sans-serif;
    --font-inter: 'Inter', sans-serif;
    --font-poppins: 'Poppins',sans-serif;
    --font-monserrat: 'Montserrat',sans-serif;

    --color-system-primary: #4E1571;
    --color-darkest:#09070A;
    --color-primary-dark: #1A151D;
    --color-backgrounds: #F6EBFD;
    --color-secondary-text: #1A151D;
}
